@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f5f8ff;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: auto;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
}

.logo {
  color: #4E47FF;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;

}

.btn {
  padding: 10px 20px;
  background-color: #4E47FF;
  color: white;
  border-radius: 5px;
  border: white;
  font-weight: 700;

}

/* Main */
.banner {
  background-image: url(./Assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}

.hero-content h1 {
  font-size: 50px;
}

.hero-btn {
  padding: 10px 40px;
  background-color: #4E47FF;
  color: white;
  border-radius: 5px;
  border: white;
  font-weight: 700;
  margin: 15px 0px;
}

.action-content {
  padding: 50px 0;
}

.action-content h3 {
  font-size: 30px;

}

.action-content p {
  opacity: 0.5;
}

.rating-section {
  background-color: #e5e7ff;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  margin-bottom: 60px;

}

.rating-section h1 {
  font-size: 35px;
  margin: 5px 0px;
  color: #4E47FF;
}

.rating-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0px;
}
.success-section{
  text-align: center;
  border-radius: 20px;
  background: white;
  padding: 20px;
  margin-bottom: 30px;
}
.success-section h1{
  font-size: 40px;
  font-weight: bold;
}
.success-section p{
  opacity: 0.6;
  margin: 3px 0;
}
.success-img{
  border-radius: 30px;
}