@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f5f8ff;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: auto;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
}

.logo {
  color: #4E47FF;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;

}

.btn {
  padding: 10px 20px;
  background-color: #4E47FF;
  color: white;
  border-radius: 5px;
  border: white;
  font-weight: 700;

}

/* Main */
.banner {
  background-image: url(./Assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}

.hero-content h1 {
  font-size: 50px;
}

.hero-btn {
  padding: 10px 40px;
  background-color: #4E47FF;
  color: white;
  border-radius: 5px;
  border: white;
  font-weight: 700;
  margin: 15px 0px;
}

.hero-btn:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.action-content {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-content h3 {
  font-size: 30px;

}

.action-content p {
  opacity: 0.5;
}

.action-img {
  border-radius: 20px;
}

.rating-section {
  background-color: #e5e7ff;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  margin-bottom: 60px;

}

.rating-section h1 {
  font-size: 35px;
  margin: 5px 0px;
  color: #4E47FF;
}

.rating-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0px;
}

.success-section {
  text-align: center;
  border-radius: 20px;
  background: white;
  padding: 20px;
  margin-bottom: 30px;
}

.success-section h1 {
  font-size: 40px;
  font-weight: bold;
}

.success-section p {
  opacity: 0.6;
  margin: 3px 0;
}

.success-img {
  border-radius: 30px;
}

.card-section h1 {
  font-size: 40px;
  margin: 8px 0;
  text-align: center;
}

.card {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 20px 0;
}

.card-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.card-content h1 {
  font-size: 14px;
}

.review {
  display: flex;
  align-items: center;
  gap: 14px;
  margin: 10px 0;
}

.review img {
  border-radius: 50%;
}



#form {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
}

#form h1 {
  font-size: 60px;
}

.form-data {
  display: flex;
  flex-direction: column;
}

.form-data .input-field {
  padding: 10px;
  height: 30px;
  border: none;
  border-radius: 6px;
  margin: 2px 0;
}

.footer-content {
  text-align: center;
  padding: 50px 0;
}

.footer-content h1 {
  font-size: 60px;
  color: #4E47FF;
  font-weight: bold;
  text-transform: uppercase;
}

.footer-content p {
  opacity: 0.6;
  font-size: 14px;
}

.footer-content ul li {
  list-style: none;
}

.footer-content ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 6px 0;
}

.footer-content ul li a {
  text-decoration: none;
  color: black;
}